.FloorPlan {
    margin-top: 5vmin;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    min-height: 800px;
    min-width: 800px;
    color: white;
}